<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.pegasusmission.nae" android:installLocation="auto" android:versionName="2.2" android:versionCode="4">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="com.pegasusmission.nae.permission.C2D_MESSAGE" />
	<permission android:name="com.pegasusmission.nae.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<application android:label="PegasusMission NAE" android:icon="@drawable/icon"></application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
</manifest>